In [1]:
import pandas as pd
import numpy as np

import ml_utils

## Exploratory Data Analysis

This is an example of how we can use an external EDA class to automate some of the data exploration steps. 

A few points to note here:
<ul>
<li> Above, in the imports, there is a line to import "ml_utils", which is "ml_utils.py", the file we've made to contain our EDA class.
<li> In that ml_utils.py file the actual EDA code is located.  
<li> Below, we create an object of that EDA class (similarly to how we'd create an object of a LinearRegression() when making a model).
<li> To do the EDA work, we call ("ask") the object we created to generate the EDA work that we've built into the class.
</ul>

In [3]:
df = pd.read_csv("../Data/heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.describe().T

              count        mean         std   min     25%    50%    75%    max
Age           918.0   53.510893    9.432617  28.0   47.00   54.0   60.0   77.0
RestingBP     918.0  132.396514   18.514154   0.0  120.00  130.0  140.0  200.0
Cholesterol   918.0  198.799564  109.384145   0.0  173.25  223.0  267.0  603.0
FastingBS     918.0    0.233115    0.423046   0.0    0.00    0.0    0.0    1.0
MaxHR         918.0  136.809368   25.460334  60.0  120.00  138.0  156.0  202.0
Oldpeak       918.0    0.887364    1.066570  -2.6    0.00    0.6    1.5    6.2
HeartDisease  918.0    0.553377    0.497414   0.0    0.00    1.0    1.0    1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

### Load External EDA Class

We want to create an object here that we can call later.

In [4]:
df_eda = ml_utils.edaDF(df,"HeartDisease")
print(df_eda.giveTarget())

HeartDisease

### Provide Configuration to the EDA Class

In [5]:
df_eda.setCat(["Sex", "ChestPainType", "RestingECG", "ExerciseAngina", "ST_Slope"])
df_eda.setNum(["Age", "RestingBP", "Cholesterol", "FastingBS", "MaxHR", "Oldpeak"])

### Perform EDA

In [6]:
df_eda.fullEDA()

Tab(children=(Output(), Output(), Output(), Output()), selected_index=0, titles=('Info', 'Statistics', 'Categoâ€¦